/* footer */
body{
    font-family: 'PT Sans Narrow';
}
.footer {
  background-color: #0f1215;
  color: white;
  padding: 100px 20px 20px;
  font-family: 'Arial', sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

.footer-col {
  flex: 1;
  min-width: 250px;
}

.footer-logo {
  font-size: 2rem;
  font-weight: bold;
}

.footer-col h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-p {
  /* max-width: 240px; */
  padding-top: 35px;
  font-size: 12px;
}

.footer-p1 {
  padding-top: 40px;
  font-size: 12px;
  margin-left: 20px;
}

.calls p {
  font-size: 12px;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.calls span:hover {
  color: #fd9d3e;
}

.footer-col li {
  margin-bottom: 10px;
  font-size: 12px;
  letter-spacing: 1px;
  transition: background-color 0.3s ease;
}

.footer-col li:hover {
  color: #fd9d3e;
}

.footer-col span {
  float: right;
  font-weight: 400;
  letter-spacing: 0.1px;
}

.closed {
  background-color: #ff944d;
  padding: 3px 10px;
  border-radius: 4px;
  color: black;
}

.footer-col ul {
  list-style: none;
  padding-top: 30px;
  font-size: 12px;
}

.footer-bottom {
  border-top: 1px solid #2c2c2c;
  margin-top: 40px;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 13px;
}

.footer-bottom .design {
  color: #fd9d3e;
  transition: background-color 0.3s ease;
}

.footer-bottom .design:hover {
  text-decoration: underline;
}

.social-icons {
  display: flex;
  gap: 8px;
}

.social-icons svg {
  background-color: #242628;
  color: white;
  padding: 12px;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.3s ease;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: block;
  text-align: center;
}

.social-icons svg:hover {
  background-color: #fd9d3e;
}


.scroll-top-btn:hover {
  background-color: #242628;
}
.scroll-top-btn{
  text-align: center;

  /* border-radius: 50px; */
}
.scroll-top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #ff7f30;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: transform 0.3s ease;
}

.scroll-top-btn:hover {
  transform: translateY(-5px);
}
